{{#if everyauth.loggedIn}}
  <p class="lead text-center">Welcome {{everyauth.shopify.user.user.domain}}</p>
{{else}}
<p class="lead text-center">Put in your Shop URL and Go!</p>
<form id="login" class="form-horizontal text-center" action="/login/authenticate" method="post">
  <div class="input-append">
      <input type="text" class="input-xlarge" value="" name="shop" id="shop" placeholder="yourshop.myshopify.com">
      <button type="submit" class="btn btn-success">Go!</button>
  </div>
</form>
{{/if}}
