<div class="row">
  <div class="span3 offset3 text-center">
    <h3>Monthly</h3>
    <p class="lead">
      Don't like long-term commitment? Sign up for monthly.
    </p>
    <a href="/charge/monthly" class="btn btn-success btn-large">Sign me up!</a>
  </div>
  <div class="span3 text-center">
    <h3>Yearly</h3>
    <p class="lead">
      You love it! Pay for the year and save XX$.
    </p>
    <a href="/charge/yearly" class="btn btn-success btn-large">Take my money!</a>
  </div>


</div>
